@page "/demoHotel"
@using Model

<h3>We will display hotel rooms and amenitites here!</h3>
<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">Rool List [USING COMPONENT]</h2>
    <div class="row container">
        <div class="col-12">
            <h4 class="text-info">Hotel Room's</h4>
            <span>Rooms Selected - @SelectedRooms</span>
        </div>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChanged" Room="@room"></IndividualRoom>
        }

        <div class="col-12">
            <h4 class="text-info">Amenities</h4>
            <span>SelectedAmenity : @SelectedAmenity</span>
        </div>
        @foreach (var amenity in AmenityList)
        {
            <IndividualAmenities AmenitiesSelectionChanged="AmenitiesSelectionChanged" Amenities="@amenity">
                <FirstFragment>First Fragment</FirstFragment>
                <SecondFragment>Second Fragment</SecondFragment>
            </IndividualAmenities>
        }
    </div>
   
</div>


@code{
    public int SelectedRooms { get; set; } = 0;
    public string SelectedAmenity { get; set; }=string.Empty;
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> AmenityList = new List<BlazorAmenities>();
    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite One Bed Room",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>
            {
                new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="330"},
                new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="4"},
             }
        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 202,
            RoomName = "Villa Suite Two Bed Room",
            IsActive = true,
            Price = 520,
            RoomProps = new List<BlazorRoomProp>
            {
                new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="330"},
                new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="4"},
             }
        });

        AmenityList.Add(new BlazorAmenities()
        {
            Id = 900,
            Name = "Swimming Pool",
            Description= "Perfect olympic Swimming pool"

        });
        AmenityList.Add(new BlazorAmenities()
        {
            Id = 901,
            Name = "Gym",
            Description = "Perfect Gym"

        });
        AmenityList.Add(new BlazorAmenities()
        {
            Id = 902,
            Name = "Cinema",
            Description = "Perfect Cinema "

        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }
    protected void AmenitiesSelectionChanged(string name )
    {
        SelectedAmenity = name;
    }

}